*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  text-align: center;
 
}
body {
  background-color: black;
  padding-top: 50px;
  
  

  }

/* .baner{

  width: 750px;
  height: 750px;
  margin: auto;
  background-size: 100% 100%;
  animation-name: baner 10s infinite;
      
}
 @keyframes baner{
  0%, 30% {
      background-image: url(/img/OBEP\ \(2\).gif);  
  
}0%, 50% {
  background-image: url(/img/OBEP\ \(2\).gif); 

}0%, 100% {
  background-image: url(/img/OBEP\ \(2\).gif); 

}
 } */


img {
  width: 320px;
  height: 340px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}



.row{
  margin-left: 0px;
  margin-right: 0px;
}
.global{
  padding: 50px;
  color: #f0f9ff;
   background-color: #2d4263;
  background-image: url(/img/CANASTA\ BOLIS.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.9;
}


  
  
 






